* {
	margin: 0;
	padding: 0;
  }
  
  body {
	/*You can use any kind of background here.*/
	background: transparent;
	text-align: center;
  }
  
  #content {
	text-align: center;
	width: 500px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -150px;
	color: silver;
	font-family: verdana;
	font-size: 45px;
	font-weight: bold;
  }
  
  .buttonContainer {
	display: inline-block;
  }
  
  button {
	color: #fff;
    background-color: #2B56A7;
	padding: 14px 68px;
    font-weight: 700;
    border-radius: 36px;
    text-transform: none;
	border: none;
	cursor: pointer;
	margin: 24px;
  }
  

  canvas {display: block;position: relative; z-index: 1;pointer-events: none;position: fixed;top: 0;}